@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joe’s Pizza </h1>
    <p> The place that offer you the best types of pizza prepared with the finest ingredients</p>
</div>
